<% if parameter.contains_list? %>
  <tr>
    <td><strong><%= raw('&#187; ' * parameter.scope_level) %> <%= parameter.name %></strong></td>
    <td>nested attribute list below</td>
    <td colspan="5">
      <%= link_to("add another #{parameter.parameters.each.first.name}", '#', :class => 'append-structure', :name => "#{parameter.parameters.each.first.name}") %>
    </td>
  </tr>
  <% parameter.parameters.each do |p| %>
    <%= render :partial => 'easy_api_doc/documentation/parameter', :locals => {:parameter => p} %>
  <% end %>
<% elsif parameter.nested? %>
  <tbody data-group="<%= raw parameter.name %>">
  <tr data-nested="true">
    <td><strong><%= raw('&#187; ' * parameter.scope_level) %> <%= parameter.name %></strong></td>
    <td>attributes below</td>
    <td colspan="5"></td>
  </tr>
  <% parameter.parameters.each do |p| %>
    <%= render :partial => 'easy_api_doc/documentation/parameter', :locals => {:parameter => p} %>
  <% end %>
  </tbody>
<% else %>
  <tr>
  <%# Standard parameter %>
    <td><%= raw('&#187; ' * parameter.scope_level) %> <%= parameter.name %></td>
    <td>
      <%= text_field_tag(parameter.field_name, (parameter['example'] || parameter['default']), :class => 'input') %>
      <%= link_to('add another item', '#', :class => 'append-fields') if parameter['type'] == 'array' %><br />
    </td>
    <td><%= link_to 'disable', '#', :class => 'disable-field-toggle' %></td>
    <td><%= parameter['type'] %></td>
    <td><%= parameter['default'] %></td>
    <td><%= parameter['required'] %></td>
    <td><%= parameter['info'] %></td>
  </tr>
<% end %>
